# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.envrc
*.env

# Logs and databases
logs/
*.log
*.sqlite3
*.db

# MacOS and system files
.DS_Store
Thumbs.db

# Python dependencies
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Docker-related files
output/
config.yaml
